.therapist-cards > div:not(:last-child) {
  margin-bottom: 10px;
}

.therapist-cards-header {
  display: flex;
  justify-content: space-between;
}

.therapist-cards-more-action {
  cursor: pointer;
}

.therapist-cards-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.therapist-card {
  border: 1px solid;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.therapist-card-image {
  border: 1px solid;
  border-radius: 5px;
  width: 200px;
}

.therapist-card-image img {
  height: 100%;
  width: 100%;
}

.therapist-card-details {
  width: 100%;
}

.therapist-card-details > div:not(:last-child) {
  margin-bottom: 5px;
}

.therapist-card-detail-rating {
  display: flex;
  align-items: center;
  gap: 2px;
}

.therapist-card-detail-rating span {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1024px) {
  .therapist-cards-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
